.main{
  margin-top: 8%;
}



/* Container for the grid layout */
.inner {
    display: grid;
    margin-top: 2%;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    gap: 15px; /* Space between items */
    padding: 10px;
    justify-items: center; /* Center items in the column */
  }
  
  /* Individual box styling */
  .box {
    text-align: center;
    max-width:  200px;
    color: rgb(10, 10, 10);
    
  }
 

  
  /* Image styling */
  .box img {
    width: 100%; /* Make the image responsive */
    max-width: 150px; /* Limit the maximum width of images */
    height: auto;
    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: 0 10px 10px rgba(26, 24, 24, 0.2); /* Add some shadow */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .box img:hover{
    
        transform: scale(1.1); /* Slightly enlarge the image */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increase shadow intensity */
      
  }
  /* Add some space for the title */
  .box br {
    margin-bottom: 10px;
  }
  
  /* Optional: Style titles */
  .box span {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  